@{
    ViewData["Title"] = "How Can I Help?";
}

<div class="help-section">
    <h2>How can I Help?</h2>
    <h4>Contributing Beyond Monetary Donations:</h4>
    <p>While monetary donations are crucial, there are various ways you can support the iKhwezi Foundation's mission:</p>
    <ul>
        <li><strong>Volunteering:</strong> Get involved directly by volunteering your time and skills.</li>
        <li><strong>Fundraising:</strong> Organize events or campaigns to raise funds for our projects.</li>
        <li><strong>Spreading Awareness:</strong> Share our stories and campaigns to amplify our impact.</li>
    </ul>

    <h4>Donations:</h4>
    <p>Your donations are the lifeblood of our organization. They enable us to provide essential support and resources to communities in need. Explore different ways to donate:</p>
    <ul>
        <li><strong>One-Time Donation:</strong> Make a single contribution to support our ongoing initiatives.</li>
        <li><strong>Monthly Donation:</strong> Join our monthly giving program for sustained support.</li>
        <li><strong>Specific Projects:</strong> Choose to donate towards projects that resonate with you.</li>
    </ul>

    <p>Thank you for considering ways to help the iKhwezi Foundation! Your support, whether through donations, volunteering, or spreading awareness, makes a significant difference in empowering communities in need.</p>
</div>
